.action-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  min-width: 20vw;
  flex-wrap: wrap;
}

.action-form-input {
  width: 10%;
}

.action-form-button {
  width: 30%;
  text-align: center;
  border: none;
}
