.ant-table-wrapper {
  width: 100% !important;
  overflow: auto;
  scrollbar-width: thin;
  background-color: aliceblue;
}

.ant-table-container {
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  justify-content: center;
  align-items: center;
  font-size: 12px;
  height: 60vh;
}

.ant-table-body {
  flex-grow: 1;
}

.ant-table-container > * {
  margin: 0 !important;
  max-width: 100% !important;
  padding: 0.4rem !important;
  scrollbar-width: none;
}

body {
  overflow: auto;
}

.custom-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e40e0e !important;
  transition: all 0.3s ease;
}

.custom-btn:hover {
  color: #e40e0e9a !important;
}
